<table>

  <tr>
    <th width="50">Week</th>
    <th width="300">Topic</th>
    <th width="50">Lab</th>
  </tr>

  {% for assignment in page.assignments %}


    {% for labpage in site.pages %}
      {% if labpage.title == assignment and labpage.element == 'lab' %}
        {% capture lab_link %}{{ labpage.url | prepend: site.baseurl }}{% endcapture %}
        {% break %}
      {% endif %}
      {% assign lab_link = nil %}
    {% endfor %}
  

    <tr>
      <td align="right">{{ forloop.index }}</td>
      <td>{{ assignment }}</td>
   
      

      {% if lab_link %}
        <td align="center"><a href="{{ lab_link }}" aria-label="Week {{ forloop.index }} Lab">
          <i aria-hidden="true" class="fa fa-flask fa-lg"></i></a></td>
      {% else %}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-flask fa-lg"></i></font></td>
      {% endif %}


    </tr>

  {% endfor %}

</table>
